<h1>出勤条件登録</h1>
<h3>自分が働ける、曜日と時間を登録しておきましょう</h3>
<p>下記の選択をした後、登録ボタンを押してください。</p>
<p>※登録ボタンを押さないと、出勤条件が未登録となります</p>

<h2>
<%= form_with url: shifts_path do |form| %>

<%#= form_with model: @shift do |from| %>
  <div class="field">
    <%= form.label :employee_work_time_start, "出勤開始時間" %>
    <%= form.datetime_field :employee_work_time_start %>
  </div>

  
  <div class="field">
    <%= form.label :employee_work_time_end, "出勤終了時間" %>
    <%= form.datetime_field :employee_work_time_end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</h2>


