<title>Hello Ruby</title>
<h1>シフト作成サービス</h1>
<h2>自分が働ける、曜日と時間を登録しておきましょう！！</h2>

<div class="user-info box">
  <h2>ログインユーザー情報</h2>
  <h3>
  <p>ID:<%= current_user.id %></p>
  <p>名前:<%= current_user.employee_name %></p>
  </h3>
</div>

<% if @users.present? %>
  <div>
    <h1><%= @dates.first.strftime("%m") %>月のシフト</h1>
    <table border="1">
      <thead>
        <tr>
          <th>従業員名</th>
          <% @dates.each do |date| %>
            <th><%= date.strftime("%d") %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.employee_name %></td>
            <% @dates.each do |date| %>
              <% attendance = user.decision_attendances.find_by("DATE(employee_work_time_start) = ?", date) %>
              <td>
                <% if attendance.present? %>
                  <% if attendance.employee_decision_day_off %>
                    休
                  <% else %>
                    <%= attendance.employee_work_time_start.strftime("%H:%M") %> - <%= attendance.employee_work_time_end.strftime("%H:%M") %>
                  <% end %>
                <% else %>
                  -
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>シフトが登録されていません。</p>
<% end %>



<h2>
☆<%= link_to("出勤条件の登録はこちら", "/shifts/add") %>☆
<p>☆<%= link_to("シフト登録確認はこちら", "/shifts/mypage")%>☆</p>
<p>☆<%= link_to("シフト変更申請はこちら", "/shifts/requesteddayoff")%>☆</p>

 <% if @show_special_link %>
 <p>☆<%= link_to "シフト管理者登録確認はこちら", "/shifts/usersmanagermkshift" %>☆</p>
 <p>☆<%= link_to "従業員一覧はこちら", "/shifts/usersmanager" %>☆</p>
 <p>☆<%= link_to "確定シフト一覧はこちら", "/shifts/usersmanageradd" %>☆</p>
 <p>☆<%= link_to "希望休リクエスト一覧はこちら", "/shifts/decisiondayoff" %>☆</p>
<% end %>

   

</h2>


