<title>Hello Ruby</title>
<div style="text-align: center">
  <h1>シフト作成サイト</h1>
  <div>
    <h2>自分が働ける、曜日と時間を登録しておきましょう！！</h2>
  </div>
</div>

<div class="user-info box">
  <h2>ログインユーザー情報</h2>
  <h3>
  <p>ID:<%= current_user.id %></p>
  <p>名前:<%= current_user.employee_name %></p>
  </h3>
</div>

<h3>
  <div class="button003">
    <%= link_to "出勤条件の登録", "/shifts/add" %> 
    <%= link_to "シフト登録確認", "/shifts/mypage" %>
    <%= link_to "シフト変更申請", "/shifts/requesteddayoff" %>
    <% if @show_special_link %>
      <%= link_to "/shifts/usersmanagermkshift" do %>
        シフト確定登録
      <% end %>
      <%= link_to "/shifts/usersmanager" do %>
        従業員一覧
      <% end %>
      <%= link_to "/shifts/usersmanageradd" do %>
        確定シフト一覧
      <% end %>
      <%= link_to "/shifts/decisiondayoff" do %>
        希望休リクエスト一覧
        <% if @new_requests_count > 0 %>
          <span class="notification-mark"><%= @new_requests_count %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</h3>







<% if @users.present? %>
  <div>
    <h1><%= @dates.first.strftime("%m") %>月のシフト</h1>
    <table border="1">
      <thead>
        <tr>
          <th>従業員名</th>
          <% @dates.each do |date| %>
            <th><%= date.strftime("%d") %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.employee_name %></td>
            <% @dates.each do |date| %>
              <% attendance = user.decision_attendances.find_by("DATE(employee_work_time_start) = ?", date) %>
              <td>
                <% if attendance.present? %>
                  <% if attendance.employee_decision_day_off %>
                    休
                  <% else %>
                    <%= attendance.employee_work_time_start.strftime("%H:%M") %> - <%= attendance.employee_work_time_end.strftime("%H:%M") %>
                  <% end %>
                <% else %>
                  -
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>シフトが登録されていません。</p>
<% end %>




