<head>
    <meta charset="utf-8">
</head>
<body>
    <h3>ログインユーザー情報
    <div style="background-color: yellow; padding: 10px;">
    <p>ID:<%= current_user.id %></p>
    <p>名前:<%= current_user.employee_name %></p>
    </div>
    </h3>
    <h3>↓登録しているシフト↓</h3> 
    <table>
        <tr>
            <th>出勤開始時間</th>
            <th>出勤終了時間</th>
        </tr>
    <tbody>
        <% if @shifts.present? %>
        <% @shifts.each do |shift| %>
            <tr>
                <td><%= shift.employee_work_time_start %></td>
                <td><%= shift.employee_work_time_end %></td>
            </tr>
        <% end %>
        <% else %>
            <p>シフトの登録ができていません。</p>
        <% end %>
    </tbody>
    </table>

    <p>☆
<%= link_to("ホームへ戻る", "/shifts") %>
☆</p>
    
</body>

