<h1>シフト確定登録ページ</h1>
<p>☆<%= link_to("ホームへ戻る", "/shifts") %>☆</p>
<!-- app/views/shifts/user_shifts.html.erb -->
<head>
    <meta charset="utf-8">
</head>
<body>
<% if @shifts_by_user.present? %>
  <% @shifts_by_date = @shifts.group_by { |shift| shift[:employee_work_time_start]&.to_date } %>
  <% @shifts_by_date.each do |date, shifts| %>
    <div>
      <h2>日にち: <%= date %></h2>
      <%= form_with url: save_shifts_shifts_path, method: :post do %>
        <table border="1">
          <thead>
            <tr>
              <th>選択</th>
              <th>従業員ID</th>
              <th>従業員名</th>
              <th>出勤開始時間</th>
              <th>出勤終了時間</th>
            </tr>
          </thead>
          <tbody>
            <% shifts.each do |shift| %>
              <tr>
                <td>
                  <%= hidden_field_tag "shift_data[#{shift.id}][user_id]", shift.user_id %>
                  <%= hidden_field_tag "shift_data[#{shift.id}][employee_work_time_start]", shift.employee_work_time_start %>
                  <%= hidden_field_tag "shift_data[#{shift.id}][employee_work_time_end]", shift.employee_work_time_end %>
                  <%= check_box_tag 'shifts[]', shift.id %>
                </td>
                <td><%= shift.user_id %></td>
                <td><%= shift.user.employee_name %></td>
                <td><%= shift.employee_work_time_start %></td>
                <td><%= shift.employee_work_time_end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div style="background-color: yellow; padding: 10px;">
          <%= submit_tag '保存' %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>従業員のシフト登録が１件もありません</p>
<% end %>
  <h3>
  <div class="button_line001">
    <%= link_to "ホームへ戻る", "/shifts" %>
    <%= link_to "シフト確定登録", "/shifts/usersmanagermkshift" %>
  </div>
  </h3>
</body>